body {
  background-color: #8BA859;
}
h1 {
  text-align: center;
  color: #FFFFFF;
  font-size: 50px;
  text-shadow: 1px 1px #000000;
  font-family: 'Cormorant SC', serif;
  letter-spacing: 5px;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.buttons input {
  width: 300px;
  height: 70px;
  background-color: #5b6e3a;
  color: #FFFFFF;
  margin: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Cormorant', serif;
  -webkit-appearance: none;
}
.maps {
  width: 300px;
  height: 300px;
  background-color: #FFFFFF;
  margin: 10px;
  border: 1px solid black;
}
.maps img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  /*border: 1px solid black;*/
}
.maps p {
  width: 290px;
  height: 290px;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  font-family: 'Cormorant', serif;
}
@media only screen and (max-width: 1280px) {
  .buttons input {
    width: 200px;
  }
}
@media only screen and (max-width: 895px) {
  .buttons input {
    width: 300px;
  }
}
@media only screen and (max-width: 980px) {
  .maps {
    width: 350px;
    height: 350px;
    background-color: #FFFFFF;
    margin: 10px;
    border: 1px solid black;
  }
  .maps img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    /*border: 1px solid black;*/
  }
  .maps p {
    width: 340px;
    height: 340px;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    font-family: 'Cormorant', serif;
  }
}
@media only screen and (max-width: 760px) {
  .maps {
    width: 90%;
    height: 90%;
    background-color: #FFFFFF;
    margin: 10px;
    border: 1px solid black;
  }
  .maps img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    /*border: 1px solid black;*/
  }
  .maps p {
    width: 100%;
    height: 280px;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    font-family: 'Cormorant', serif;
  }
}
@media only screen and (max-width: 400px) {
  h1 {
    font-size: 30px;
  }
}
