*{

}
body{
  background-image: url("https://wallpaperplay.com/walls/full/8/b/e/25495.jpg");
  font-family: 'Cormorant SC', serif;
  background-repeat: no-repeat;
  background-size: cover;
}
.profileBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.profile {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
}
p {
  font-family: 'Cormorant', sans-serif;
}
h1 {
  background-color: #FFFFFF;
  padding: 10px;
}
.mission{
  background-color: white;
  padding: 10px;
}
.button{
  border: none;
  background: none;
  padding:0;
  font-size: 25px;
  text-align: center;
  font-family:'Cormorant', serif;
  letter-spacing: 5px;
  margin-top: 40px;
  background-color: #FFF;
  padding: 5px;
  margin-bottom: 10px;
}

img {
  width: 390px;
  height: 390px;
  border-radius: 50%;
  object-fit: cover;
}

@media only screen and (max-width: 1300px) {
  .profile {
    width: 300px;
  }
  img {
    width: 290px;
    height: 290px;
  }
}
@media only screen and (max-width: 1000px) {
  .profile {
    width: 250px;
  }
  img {
    width: 240px;
    height: 240px;
  }
}
@media only screen and (max-width: 845px) {
  .profile {
    width: 500px;
  }
  img {
    width: 490px;
    height: 490px;
  }
}
@media only screen and (max-width: 560px) {
  .profile {
    width: 90%;
  }
  img {
    width: 90%;
    height: 400px;
  }
}
